<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>{{ site.title }}:Note - {{ page.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css"  media="screen and (min-width: 1000px)">
		<link rel="icon" href="{{ site.baseurl }}/static/favicons/favicon.svg" type="image/svg+xml">
		<script>(function() {var elms=["header","footer","section","aside","nav","article","hgroup","time","figure","figcaption"];for(var i=0;i<elms.length;i++){document.createElement(elms[i]);};	})();</script>
		<base href="https://alname.github.io/idea-path/">
		<meta name="robots" content="noindex,nofollow,noarchive">
	</head>
<body id="T">
<div id="MAIN" class="container">

<header id="HEADER" class="header">
	<h1 id="SITETITLE"><a href="{{ site.baseurl }}" class="sitetitle">Note</a></h1>
</header>

<div id="CONTENTS" class="main">

<article id="ARTICLE" class="box">

<header id="ARTICLEHEADER" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
	<div></div>
	<h1 itemprop="title">{{ page.title }}</h1>
</header>

<!-- start content -->
<div id="NOTE">
{{ content }}
</div>
<!-- end content -->

</div>
<footer id="FOOTER" class="footer">
	<p><small class="copyright">©2013 {{ site.author }}</small></p>
	<p>Powered by Google App Engine</p>
</footer>

</article>
	
<div id="SIDE" class="left">
<div id="LINKS">

<div id="NOTELIST">
	<h1>Page list</h1>
	<ol>
		{% for page in site.pages|sort(attribute='url') %}
		{% if page.url contains 'Note' %}<li><a href="{{ site.baseurl }}{{page.url}}">{{page.title}}</a></li>{% endif %}
		{% endfor %}
	</ol>
	<h1>Site</h1>
	<ol>
		<li><a href="{{ site.baseurl }}" class="main menu">idea-path</a>
		<li><a href="https://picasaweb.google.com/115069798956937902080/User0?authuser=0&amp;authkey=Gv1sRgCKiN5L31marczgE&amp;feat=directlink" class="main menu">Picasa - user0</a>
		<li><a href="https://picasaweb.google.com/115069798956937902080/User102?authuser=0&amp;authkey=Gv1sRgCNDQsv_hr7ajqQE&amp;feat=directlink" class="main menu">Picasa - user1</a>
		<li><a href="https://picasaweb.google.com/115069798956937902080/User2?authuser=0&amp;authkey=Gv1sRgCJHiqtGF6teIXw&amp;feat=directlink" class="main menu">Picasa - user2</a>
		<li><a href="https://picasaweb.google.com/115069798956937902080/User3?authuser=0&amp;authkey=Gv1sRgCKmyj4K4044w&amp;feat=directlink" class="main menu">Picasa - user3</a>
		<li><a href="https://picasaweb.google.com/115069798956937902080/User4?authuser=0&amp;authkey=Gv1sRgCIL3u6blmJCXIA&amp;feat=directlink" class="main menu">Picasa - user4</a>
		<li><a href="https://picasaweb.google.com/115069798956937902080/User5?authuser=0&amp;authkey=Gv1sRgCJf7ktPQ17X44wE&amp;feat=directlink" class="main menu">Picasa - user5</a>
		<li><a href="https://picasaweb.google.com/115069798956937902080/Original2nd?authuser=0&amp;amp;authkey=Gv1sRgCLKzl8Pt66ycSw&amp;amp;feat=directlink" class="main menu">Picasa - Original 2nd</a>
	</ol>

</div>
</div>

</div>

</div>
</body>
</html>
