<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>idea-path</title>
		<link rel="stylesheet" href="/static/css/main.css">
		<script>(function() {var elms=["header","footer","section","aside","nav","article","hgroup","time","figure","figcaption"];for(var i=0;i<elms.length;i++){document.createElement(elms[i]);};	})();</script>

	</head>

	<body id="">
		<div>for
			{% for note in site.pages %}
				<h2>
				  <a href="{{ note.url }}{{ note.url }}">
					{{ note.name }} - {{ note.position }}
				  </a>
				</h2>
			{% endfor %}
		</div>
		<div>
{{ content }}
		</div>
	</body>
</html>
